#side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    z-index: 1000;
    background: #2c3e50;
    transition: width 0.3s;
    overflow: hidden;
}

#side-menu:hover {
    width: 200px;
}

.menu-item {
    display: block;
    padding: 10px;
    color: #ecf0f1;
    cursor: pointer;
}

.content {
    margin-left: 5px;
    transition: margin-left 0.3s ease;
}

#side-menu:hover ~ .content {
    margin-left: 200px;
}

