.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #343a40;
  padding-top: 20px;
  transition: transform 0.3s;
  transform: translateX(-160px);
  z-index: 1000;
}

.sidebar:hover {
  transform: translateX(0);
}

.content {
  margin-left: 40px;
  transition: margin-left 0.3s;
}

.sidebar:hover ~ .content {
  margin-left: 200px;
}

.sidebar .nav-link {
  color: #fff;
  margin: 10px;
}

.sidebar .nav-link.active {
  background-color: #495057;
  color: #fff;
}
